# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
02-Linguagem R/codes/16 - simulação/myData.csv
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_files/figure-latex/unnamed-chunk-9-1.pdf
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_files/figure-latex/unnamed-chunk-5-1.pdf
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_files/figure-latex/unnamed-chunk-7-1.pdf
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_cache/latex/__packages
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_files/figure-latex/unnamed-chunk-10-1.pdf
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_cache/latex/unnamed-chunk-11_3d699c3c35634b5a2397442e45f8efa8.rdx
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_cache/latex/unnamed-chunk-11_3d699c3c35634b5a2397442e45f8efa8.RData
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_cache/latex/unnamed-chunk-11_3d699c3c35634b5a2397442e45f8efa8.rdb
04-Exploração e análise de dados/03 - ggplot2/ggplot2_p1.html
05-Reproduzindo dados de Pesquisas/01 - EstruturaAnalise/EstruturaAnalise_files/figure-latex/unnamed-chunk-6-1.pdf
